/*---------------------------------------------------------- */
/*| Author: Martin Chiquete-Careaga                         |*/
/*---------------------------------------------------------- */

/*** Begin page layout styles ***/
body
{
   max-width: 100%;
   width: 80%;
   padding:0 0 35px 0;
   margin:0 auto;
   background:url('../images/stack_view_background_noise@2x.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
   line-height:125%;
   position: relative;
   font-family: 'Abel', sans-serif;
   font-size: 24px;
}


/*** Begin logo styles ***/
/*img {float: left;}*/
h1
{
   text-align:left;
   font-family: 'Luckiest Guy', cursive;
   size: 200%;
   color:#E53935;
}

h2
{
	position: relative;
	text-align: center;
	color: white;
  /*font-size: 24px;*/
}

h3
{ 
  margin-top: 20px;
	margin-left: 1.5em;
  text-align: left;
	color: white;
}

h4
{
   position: relative;
   float: right;
   text-align: left;
   color: white;
   font-size: 28px;
}
/*** End logo styles ***/


/*** Begin navigation styles ***/

nav ul {
    list-style-type: none;
    margin: 0;
    /*padding-left: 10em;*/
    width: calc(100% - 20px);
    overflow: hidden;
    /*background-color: #333;*/
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
nav li a:hover {
    background-color: #EF5350;
}

.active {
    background-color: #EF5350;
}

/*** End navigation styles ***/

p
{
   width: calc(100% - 20px);
   float: left;
   color: white;
   text-align: center;
   
}

p#facebook
{
  position: relative;
  float: left;
  text-align: center;
  /*left: 1.35em;*/
}

p#for_skeptics
{
   position: relative;
   float: left;
   width: calc(100% - 325px);
   /*top: 2.5em;*/
   /*margin-left: 1.5em;*/
   color: white;
   text-align: left;
   
}

p#n_conv_p
{
  position: relative;
  float: left;
  width: calc(100% - 325px);
  /*top: 2.5em;*/
  /*margin-left: 1.5em;*/
  color: white;
  text-align: left;
   
}

ul#skeptics
{
   position: relative;
   width: 45%;
   float: left;
   list-style-type: none;
   color: white;
   text-decoration: none;
}
ul#skeptics a
{
  position: relative;
  /*top: 1em;*/
	float: left;
	color: white;
	text-decoration: none;
}
ul#skeptics li a:hover
{
	text-decoration: underline;
}

ul#n_conv
{
   position: relative;
   float: left;
   width: 35%;
   list-style-type: none;
   color: white;
   text-decoration: none;
}

ul#n_conv a
{
	float: left;
	color: white;
	text-decoration: none;
}
ul#n_conv li a:hover
{
	text-decoration: underline;
}

a
{
	color: white;
  text-decoration: none;
}

a:hover
{
   text-decoration: underline;
}

footer
{
  position: relative;
	width: calc(100% - 20px);
	float: left;
	text-align: center;
}

table {
    table-layout: fixed;
    color: white;
}

img#title
{
  position: relative;
  float: left;
  width: calc(100% - 20px);
  /*left: 2em;*/
}

img#plane
{
  position: relative;
  float: right;
  /*top: 1em;*/
  /*left: 8em;*/
  z-index: -1;
}

p#PvC_desc
{
  padding:15px 20px 20px 10px;
}

p#desc_2
{
  padding-top: 1em;
}

p#iframe
{
  position: relative;
  float: left;
}

img#crumple_1
{
  position: relative;
  float: left;
  /*left: 5em;*/
  z-index: -1;
  max-width: 100%;
}

img#crumple_2
{
  position: relative;
  float: left;
  /*top: 1em;*/
  /*left: 15em;*/
  z-index: -1;
  max-width: 100%;
}
img#crumple_3
{
  position: relative;
  float: left;
  /*top: 1em;*/
  /*left: 15em;*/
  /*z-index: -1;*/
  max-width: 100%;
}

img#lightblb
{
  position: relative;
  float: right;
  /*top: 11em;*/
  /*left: 7em;  */
}

img#graph1
{
  position: relative;
  float: left;
  top: 1em;
  max-width: 100%;
}

img#cargrph
{
  position: relative;
  float: left;
  /*top: em;*/
  max-width: 100%;
}

img#graph2
{
  position: relative;
  float: left;
  top: 1em;
  max-width: 100%;
}

img#graph3
{
  position: relative;
  float: left;
  top: 1em;
  max-width: 100%;
}